In [1]:
from sqlalchemy import create_engine, inspect, func, MetaData
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
import pandas as pd

In [2]:
db_string = "postgres://dgvhnhvgmlvyas:9ec80f4b1f38b037e7f4ec194639c23e0a51391ba0125294f6cdc29afbfe2c91@ec2-54-235-86-101.compute-1.amazonaws.com:5432/ddjlbrhg56vtvf"
db = create_engine(db_string)

In [3]:
db.table_names()

['oct01', 'oct02', 'oct03', 'oct04', 'oct05', 'oct06', 'oct08', 'oct09']

In [17]:
df = pd.read_csv("oct09.csv", index_col=0)

In [25]:
df.loc[df["Destino"] == "XOC"]

    Hora_Salida Destino Origen Hora_Llegada  Desde Name      Lat     Lon
216       13:50     XOC    MEX        19:10  13816  AVI  40.4075 -3.6917

In [20]:
df.isnull().sum()

Hora_Salida     0
Destino         0
Origen          0
Hora_Llegada    0
Desde           0
Name            0
Lat             1
Lon             1
dtype: int64

In [23]:
df.fillna(value={"Lat": 40.4075, "Lon": -3.6917}, inplace=True)

In [24]:
df.isnull().sum()

Hora_Salida     0
Destino         0
Origen          0
Hora_Llegada    0
Desde           0
Name            0
Lat             0
Lon             0
dtype: int64

In [ ]:
#df["Desde"] = df["Desde"].astype("int64")

In [ ]:
df2 = df.loc[df["Name"] != "UAL"]

In [ ]:
df3 = df.loc[df["Name"] == "UAL"]

In [ ]:
df3["Desde"] = df3["Desde"] * 19.52

In [ ]:
df4 = df2.append(df3, ignore_index=True)

In [26]:
df.to_sql(name='oct09', con=db, if_exists='append', index=False)

In [ ]:
db.table_names()

In [ ]:
inspector = inspect(db)
columns = inspector.get_columns('oct01')
for c in columns:
    print(c['name'], c["type"])

In [ ]:
session = Session(db)

In [ ]:
meta = MetaData()
meta.reflect(bind=db)

In [ ]:
oct01 = meta.tables['oct01']
oct02 = meta.tables['oct02']

In [ ]:
query1 = session.query(oct01.columns.Hora_Salida, oct01.columns.Desde, oct01.columns.Name).\
filter(oct01.columns.Destino == 'DEN').\
filter(oct01.columns.Name == 'AMX').all()

In [ ]:
query1

In [ ]:
query2 = session.query(oct02.columns.Hora_Salida, oct02.columns.Desde, oct02.columns.Name).\
filter(oct02.columns.Destino == 'DEN').\
filter(oct02.columns.Name == 'AMX').all()

In [ ]:
query2

In [ ]:
salida1 = [x[0] for x in query1]
salida2 = [x[0] for x in query2]
precio1 = [x[1] for x in query1]
precio2 = [x[1] for x in query2]

In [ ]:
df = pd.DataFrame({
"oct01_hora": salida1,
"oct02_hora": salida2,
"oct01_precio": precio1,
"oct02_precio": precio2
})

In [ ]:
df["diff"]  = df["oct02_precio"] - df["oct01_precio"]

In [ ]:
df.head()