In [1]:
from sqlalchemy import create_engine, inspect, func, MetaData
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
import pandas as pd

In [4]:
db_string = "postgres://dgvhnhvgmlvyas:9ec80f4b1f38b037e7f4ec194639c23e0a51391ba0125294f6cdc29afbfe2c91@ec2-54-235-86-101.compute-1.amazonaws.com:5432/ddjlbrhg56vtvf"
db = create_engine(db_string)

In [5]:
db.table_names()

['oct01', 'oct02', 'oct03', 'oct04']

In [28]:
df = pd.read_csv("oct04.csv", index_col=0)

In [32]:
#df["Desde"] = df["Desde"].astype("int64")

In [34]:
df.head()

  Hora_Salida Destino Origen Hora_Llegada  Desde Name        Lat         Lon
0       01:15     YUL    MEX        07:25   4416  AMX  45.465610  -73.745299
1       06:01     DEN    MEX        15:12   6061  AMX  39.856121 -104.673641
2       06:01     JFK    MEX        14:30  16327  AMX  40.641235  -73.778263
3       06:01     LAS    MEX        14:14  12938  AMX  36.084026 -115.153889
4       06:01     LAX    MEX        10:15   6444  AMX  33.941562 -118.408412

In [35]:
df.to_sql(name='oct04', con=db, if_exists='append', index=False)

In [ ]:
db_string = "postgres://postgres:pkmn.2012@localhost:5432/Air_Analytics"
db = create_engine(db_string)

In [ ]:
db.table_names()

In [ ]:
inspector = inspect(db)
columns = inspector.get_columns('oct01')
for c in columns:
    print(c['name'], c["type"])

In [ ]:
session = Session(db)

In [ ]:
meta = MetaData()
meta.reflect(bind=db)

In [ ]:
oct01 = meta.tables['oct01']
oct02 = meta.tables['oct02']

In [ ]:
query1 = session.query(oct01.columns.Hora_Salida, oct01.columns.Desde, oct01.columns.Name).\
filter(oct01.columns.Destino == 'DEN').\
filter(oct01.columns.Name == 'AMX').all()

In [ ]:
query1

In [ ]:
query2 = session.query(oct02.columns.Hora_Salida, oct02.columns.Desde, oct02.columns.Name).\
filter(oct02.columns.Destino == 'DEN').\
filter(oct02.columns.Name == 'AMX').all()

In [ ]:
query2

In [ ]:
salida1 = [x[0] for x in query1]
salida2 = [x[0] for x in query2]
precio1 = [x[1] for x in query1]
precio2 = [x[1] for x in query2]

In [ ]:
df = pd.DataFrame({
"oct01_hora": salida1,
"oct02_hora": salida2,
"oct01_precio": precio1,
"oct02_precio": precio2
})

In [ ]:
df["diff"]  = df["oct02_precio"] - df["oct01_precio"]

In [ ]:
df.head()