In [1]:
from sqlalchemy import create_engine, inspect, func, MetaData
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
import pandas as pd
import numpy as np

In [2]:
db_string = "postgres://dgvhnhvgmlvyas:9ec80f4b1f38b037e7f4ec194639c23e0a51391ba0125294f6cdc29afbfe2c91@ec2-54-235-86-101.compute-1.amazonaws.com:5432/ddjlbrhg56vtvf"
db = create_engine(db_string)

In [ ]:
db.table_names()

In [ ]:
df = pd.read_csv("oct09.csv", index_col=0)

In [ ]:
df.loc[df["Destino"] == "XOC"]

In [ ]:
df.isnull().sum()

In [ ]:
df.fillna(value={"Lat": 40.4075, "Lon": -3.6917}, inplace=True)

In [ ]:
df.isnull().sum()

In [ ]:
#df["Desde"] = df["Desde"].astype("int64")

In [ ]:
df2 = df.loc[df["Name"] != "UAL"]

In [ ]:
df3 = df.loc[df["Name"] == "UAL"]

In [ ]:
df3["Desde"] = df3["Desde"] * 19.52

In [ ]:
df4 = df2.append(df3, ignore_index=True)

In [ ]:
df.to_sql(name='oct09', con=db, if_exists='append', index=False)

In [3]:
session = Session(db)

In [4]:
meta = MetaData()
meta.reflect(bind=db)

In [5]:
tables = []

for table in meta.sorted_tables:
    tables.append(table.key)

In [6]:
queries = []

for x in tables:
    day = x
    choice = meta.tables[day]
    query = session.query(choice.columns.Hora_Salida,choice.columns.Desde).\
    filter(choice.columns.Destino == 'DEN').\
    filter(choice.columns.Name == 'AMX').all()
    queries.append(query)

oct01
oct02
oct03
oct04
oct05
oct06
oct08
oct09
oct10

In [26]:
df = pd.DataFrame({
"Table": tables
})

conditions = [
    (df["Table"] == "oct01"),
    (df["Table"] == "oct02"),
    (df["Table"] == "oct03"),
    (df["Table"] == "oct04"),
    (df["Table"] == "oct05"),
    (df["Table"] == "oct06"),
    (df["Table"] == "oct08"),
    (df["Table"] == "oct09"),
    (df["Table"] == "oct10"),
]
choices = [
    "Tuesday",
    "Wednesday",
    "Thursday",
    "Friday",
    "Saturday",
    "Sunday",
    "Tuesday",
    "Wednesday",
    "Thursday"
]
df["Day"] = np.select(conditions, choices, default="N/A")

In [27]:
df["Saldesd"] = [x for x in queries]

In [29]:
df

   Table        Day                                            Saldesd
0  oct01    Tuesday  [(06:01, 6440), (06:30, 6440), (07:00, 6440), ...
1  oct02  Wednesday  [(06:01, 6457), (06:30, 6457), (07:00, 6457), ...
2  oct03   Thursday  [(06:01, 6467), (06:30, 6467), (07:00, 6467), ...
3  oct04     Friday  [(06:01, 6061), (06:30, 6061), (07:00, 6061), ...
4  oct05   Saturday  [(06:01, 6457), (06:30, 6457), (07:00, 4610), ...
5  oct06     Sunday  [(06:01, 6457), (06:30, 6457), (07:00, 4610), ...
6  oct08    Tuesday  [(06:01, 6500), (06:30, 6500), (07:00, 4673), ...
7  oct09  Wednesday  [(06:01, 4677), (06:30, 4678), (07:00, 4678), ...
8  oct10   Thursday  [(06:01, 4683), (06:30, 4683), (07:00, 4683), ...

In [ ]:
query1 = session.query(oct01.columns.Hora_Salida, oct01.columns.Desde, oct01.columns.Name).\
filter(oct01.columns.Destino == 'DEN').\
filter(oct01.columns.Name == 'AMX').all()

In [ ]:
query1

In [ ]:
query2 = session.query(oct02.columns.Hora_Salida, oct02.columns.Desde, oct02.columns.Name).\
filter(oct02.columns.Destino == 'DEN').\
filter(oct02.columns.Name == 'AMX').all()

In [ ]:
query2

In [ ]:
salida1 = [x[0] for x in query1]
salida2 = [x[0] for x in query2]
precio1 = [x[1] for x in query1]
precio2 = [x[1] for x in query2]

In [ ]:
df = pd.DataFrame({
"oct01_hora": salida1,
"oct02_hora": salida2,
"oct01_precio": precio1,
"oct02_precio": precio2
})

In [ ]:
df["diff"]  = df["oct02_precio"] - df["oct01_precio"]

In [ ]:
df.head()