In [1]:
from sqlalchemy import create_engine, inspect, func, MetaData
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
import pandas as pd

In [2]:
db_string = "postgres://dgvhnhvgmlvyas:9ec80f4b1f38b037e7f4ec194639c23e0a51391ba0125294f6cdc29afbfe2c91@ec2-54-235-86-101.compute-1.amazonaws.com:5432/ddjlbrhg56vtvf"
db = create_engine(db_string)

In [12]:
db.table_names()

['oct01', 'oct02', 'oct03', 'oct04', 'oct05', 'oct06', 'oct08']

In [9]:
df = pd.read_csv("oct08.csv", index_col=0)

In [11]:
df.tail()

    Hora_Salida Destino Origen Hora_Llegada  Desde Name        Lat         Lon
345       17:35     LAS    MEX        09:16   7398  UAL  36.084026 -115.153889
346       17:35     MUC    MEX        09:45  60492  UAL  48.353598   11.775135
347       17:35     ORD    MEX        23:59   9525  UAL  41.974166  -87.907300
348       17:35     YUL    MEX        13:00   4821  UAL  45.465610  -73.745299
349       17:35     YYZ    MEX        11:54   7827  UAL  43.677764  -79.624959

In [ ]:
#df["Desde"] = df["Desde"].astype("int64")

In [ ]:
df2 = df.loc[df["Name"] != "UAL"]

In [ ]:
df3 = df.loc[df["Name"] == "UAL"]

In [ ]:
df3["Desde"] = df3["Desde"] * 19.52

In [ ]:
df4 = df2.append(df3, ignore_index=True)

In [14]:
df.to_sql(name='oct08', con=db, if_exists='append', index=False)

In [ ]:
db.table_names()

In [ ]:
inspector = inspect(db)
columns = inspector.get_columns('oct01')
for c in columns:
    print(c['name'], c["type"])

In [ ]:
session = Session(db)

In [ ]:
meta = MetaData()
meta.reflect(bind=db)

In [ ]:
oct01 = meta.tables['oct01']
oct02 = meta.tables['oct02']

In [ ]:
query1 = session.query(oct01.columns.Hora_Salida, oct01.columns.Desde, oct01.columns.Name).\
filter(oct01.columns.Destino == 'DEN').\
filter(oct01.columns.Name == 'AMX').all()

In [ ]:
query1

In [ ]:
query2 = session.query(oct02.columns.Hora_Salida, oct02.columns.Desde, oct02.columns.Name).\
filter(oct02.columns.Destino == 'DEN').\
filter(oct02.columns.Name == 'AMX').all()

In [ ]:
query2

In [ ]:
salida1 = [x[0] for x in query1]
salida2 = [x[0] for x in query2]
precio1 = [x[1] for x in query1]
precio2 = [x[1] for x in query2]

In [ ]:
df = pd.DataFrame({
"oct01_hora": salida1,
"oct02_hora": salida2,
"oct01_precio": precio1,
"oct02_precio": precio2
})

In [ ]:
df["diff"]  = df["oct02_precio"] - df["oct01_precio"]

In [ ]:
df.head()