In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("aeromexico01102019.csv")

In [8]:
df.head()

   Unnamed: 0 Hora_Salida Destino Origen Hora_Llegada  Desde
0           0       01:15     YUL    MEX        07:25   4396
1           1       06:01     DEN    MEX        15:12   6440
2           2       06:01     JFK    MEX        14:30  16235
3           3       06:01     LAS    MEX        14:14  10821
4           4       06:01     LAX    MEX        10:15   6412

In [5]:
df2 = pd.read_csv("avianca01102019.csv")

In [9]:
df2.head()

   Unnamed: 0 Hora_Salida Destino Origen Hora_Llegada  Desde
0           0       04:50     BCN    MEX        12:50  21084
1           1       04:50     DEN    MEX        16:49  19231
2           2       04:50     HAV    MEX        12:00  15680
3           3       04:50     JFK    MEX        01:30   7508
4           4       04:50     LAS    MEX        15:50  20132

In [6]:
df3 = df.merge(df2, on="Origen")

In [7]:
df3

Empty DataFrame
Columns: [Unnamed: 0_x, Hora_Salida_x, Destino_x, Origen, Hora_Llegada_x, Desde_x, Unnamed: 0_y, Hora_Salida_y, Destino_y, Hora_Llegada_y, Desde_y]
Index: []