In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("oct01.csv")

In [3]:
df.head()

,Unnamed: 0,Hora_Salida,Destino,Origen,Hora_Llegada,Desde,Name,Lat,Lon
0,0,01:15,YUL,MEX,07:25,4396,AMX,45.465610,-73.745299
1,1,06:01,DEN,MEX,15:12,6440,AMX,39.856121,-104.673641
2,2,06:01,JFK,MEX,14:30,16235,AMX,40.641235,-73.778263
3,3,06:01,LAS,MEX,14:14,10821,AMX,36.084026,-115.153889
4,4,06:01,LAX,MEX,10:15,6412,AMX,33.941562,-118.408412

In [4]:
df2 = df[["Hora_Salida", "Destino", "Origen", "Hora_Llegada", "Desde", "Lat", "Lon"]]

In [6]:
df2.head()

  Hora_Salida Destino Origen Hora_Llegada  Desde        Lat         Lon
0       01:15     YUL    MEX        07:25   4396  45.465610  -73.745299
1       06:01     DEN    MEX        15:12   6440  39.856121 -104.673641
2       06:01     JFK    MEX        14:30  16235  40.641235  -73.778263
3       06:01     LAS    MEX        14:14  10821  36.084026 -115.153889
4       06:01     LAX    MEX        10:15   6412  33.941562 -118.408412

In [8]:
df2.to_csv("octubre01.csv")