In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("united3009019.csv")

In [3]:
df.head()

   Unnamed: 0  index Origen Destino Hora_Salida Hora_Llegada  Desde
0           0      1    MEX     ORD        8:10        12:20    477
1           1      2    MEX     ORD        5:40        12:40    483
2           2      3    MEX     ORD        5:40        17:02    483
3           3      4    MEX     ORD        7:50        14:46    483
4           4      5    MEX     ORD        7:50        18:22    483

In [5]:
df.drop(df.columns[0], axis=1, inplace=True)

In [7]:
df.drop(df.columns[0], axis=1, inplace=True)

In [8]:
df.head()

  Origen Destino Hora_Salida Hora_Llegada  Desde
0    MEX     ORD        8:10        12:20    477
1    MEX     ORD        5:40        12:40    483
2    MEX     ORD        5:40        17:02    483
3    MEX     ORD        7:50        14:46    483
4    MEX     ORD        7:50        18:22    483

In [9]:
df["Hora_Salida"] = df["Hora_Salida"].apply('{0:0>5}'.format)
df["Hora_Llegada"] = df["Hora_Llegada"].apply('{0:0>5}'.format)

In [11]:
grouped_df = df.groupby(["Hora_Salida", "Destino"])
ual_grouped = grouped_df.min()

In [13]:
ual_grouped.reset_index(inplace=True)

In [15]:
ual_grouped.to_json("ual_json30092019.js", orient="records")