In [ ]:
import pandas as pd

In [ ]:
df.to_sql(name='oct02', con=db, if_exists='append', index=False)

In [1]:
from sqlalchemy import create_engine, inspect, func, MetaData
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
db_string = "postgres://postgres:pkmn.2012@localhost:5432/Air_Analytics"
db = create_engine(db_string)

In [2]:
db.table_names()

['oct01', 'oct02']

In [3]:
inspector = inspect(db)
columns = inspector.get_columns('oct01')
for c in columns:
    print(c['name'], c["type"])

Hora_Salida VARCHAR
Destino VARCHAR
Origen VARCHAR
Hora_Llegada VARCHAR
Desde INTEGER
Name VARCHAR
Lat DOUBLE PRECISION
Lon DOUBLE PRECISION

In [4]:
session = Session(db)

In [5]:
meta = MetaData()
meta.reflect(bind=db)

In [6]:
oct01 = meta.tables['oct01']
oct02 = meta.tables['oct02']

In [50]:
query1 = session.query(oct01.columns.Hora_Salida, oct01.columns.Desde, oct01.columns.Name).\
filter(oct01.columns.Destino == 'DEN').\
filter(oct01.columns.Name == 'AMX').all()

In [51]:
query1

[('06:01', 6440, 'AMX'),
 ('06:30', 6440, 'AMX'),
 ('07:00', 6440, 'AMX'),
 ('07:20', 7341, 'AMX'),
 ('09:05', 16654, 'AMX'),
 ('09:35', 8077, 'AMX'),
 ('11:30', 28689, 'AMX'),
 ('11:50', 8077, 'AMX'),
 ('12:40', 29692, 'AMX'),
 ('13:20', 8077, 'AMX'),
 ('15:40', 6440, 'AMX'),
 ('19:30', 28689, 'AMX'),
 ('21:00', 4599, 'AMX'),
 ('21:35', 28689, 'AMX'),
 ('22:00', 4599, 'AMX')]

In [54]:
query2 = session.query(oct02.columns.Hora_Salida, oct02.columns.Desde, oct02.columns.Name).\
filter(oct02.columns.Destino == 'DEN').\
filter(oct02.columns.Name == 'AMX').all()

In [55]:
query2

[('06:01', 6457, 'AMX'),
 ('06:30', 6457, 'AMX'),
 ('07:00', 6457, 'AMX'),
 ('07:20', 8099, 'AMX'),
 ('09:05', 16698, 'AMX'),
 ('09:35', 8099, 'AMX'),
 ('11:30', 28766, 'AMX'),
 ('11:50', 16698, 'AMX'),
 ('12:40', 29772, 'AMX'),
 ('13:20', 8099, 'AMX'),
 ('15:40', 6457, 'AMX'),
 ('19:30', 28766, 'AMX'),
 ('21:00', 4610, 'AMX'),
 ('21:35', 28766, 'AMX'),
 ('22:00', 4610, 'AMX')]

In [32]:
salida1 = [x[0] for x in query1]
salida2 = [x[0] for x in query2]
precio1 = [x[1] for x in query1]
precio2 = [x[1] for x in query2]

In [65]:
df = pd.DataFrame({
"oct01_hora": salida1,
"oct02_hora": salida2,
"oct01_precio": precio1,
"oct02_precio": precio2
})

In [66]:
df["diff"]  = df["oct02_precio"] - df["oct01_precio"]

In [69]:
df.head()

  oct01_hora oct02_hora  oct01_precio  oct02_precio  diff
0      06:01      06:01          6440          6457    17
1      06:30      06:30          6440          6457    17
2      07:00      07:00          6440          6457    17
3      07:20      07:20          7341          8099   758
4      09:05      09:05         16654         16698    44